{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "2020"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "default-case": ["off"],
    "no-await-in-loop": ["off"],
    "no-bitwise": ["off"],
    "no-continue": ["off"],
    "no-console": ["off"],
    "no-constant-condition": ["off"],
    "no-plusplus": ["off"],
    "no-restricted-syntax": ["off"]
  }
}
